.app-profile {
  position: relative;
  background-color: #f3f3f3;
  min-height: 100%;
  width:100%;
  .profile-container {
    margin: 0 auto;
    margin-top: 30px;
    width: 990px;
    padding-bottom: 100px;
    //border: 1px solid #e6e6e6;
    .profile-info-wrap {
      margin-bottom:30px;
      .profile-head-box {
        background-color: #fff;
        .headimg-wrap {
          //display: inline-block;
          //position: relative;
          float: left;
          width: 230px;
          height: 168px;
          text-align: center;
          line-height: 130px;
          vertical-align: middle;
          //border-right:1px solid #f2f2f2;
          .img-circle-wrap {
            //position: absolute;
            //top:-38px;
            //left:56px;
            display: inline-block;
            width: 116px;
            height: 116px;
            line-height: 112px;
            border: 1px solid #ddd;
            //border-radius: 50%;
            vertical-align: middle;
            text-align: center;
            img {
              //border-radius: 50%;
              border: 1px solid #fff;
              width: 100px;
              height: 100px;
            }
          }

          .username{
            //position: absolute;
            //bottom:10px;
            width:100%;
            text-align: center;
            h4{
              color:#777;
              font-size:16px;
              margin:5px;
            }
          }

        }
        .info-wrap {
          float: right;
          width: 760px;
          /*.username {
            h4{
              padding:15px 20px;
            }
          }*/
          .signature {
            p{
              font-size:24px;
              color:#777;
              padding:10px 20px;
              margin:0;
              i{
                display: inline-block;
                line-height: 36px;
                font-size:30px;
                vertical-align: middle;
              }
              span{
                display: inline-block;
                line-height: 36px;
                margin-left:15px;
                vertical-align: middle;
              }
            }
          }
          .info-tags{
            width: 100%;
            .tag-item{
              display: inline-block;
              line-height: 24px;
              font-size:14px;
              //width:28%;
              margin:5px 20px;
              color:#555;
              span{
                margin-left:6px;
              }
            }
          }
        }
      }

      .profile-head-box:after {
        display: block;
        content: "";
        clear: both;
      }

      .profile-info-box {
        margin-top: 15px;
        .info-nav {
          float: left;
          width: 230px;
          background-color: #fff;
          .list-group {
            margin-bottom: 0;
            padding:0 0 10px 0;
            border-radius: 0;
          }

          .list-group-item {
            border: none;
            border-left:3px solid #fff;
            color: #555;
            border-radius: 0;
            outline: none;
          }

          .list-item-title {
            border: none;
            border-bottom: 1px solid #f2f2f2;
            //border-left:5px solid #985f0d;
            background-color: #fff;
            padding: 15px 15px 10px;
            //text-align: center;
            font-size: 18px;
            font-weight: 500;
            border-radius: 0;
          }

          .list-group-item:hover,
          .list-group-item:focus,
          .list-group-item:active,
          .list-group-item.active {
            border-left:3px solid #f16a64;
          }

          /*.list-group-item.list-item-title:hover{
            border-left:5px solid #985f0d;
          }*/

        }

        .edit-info-content{
          width:960px !important;
          float: none !important;
          margin:0 auto !important;
          .info-box{
            padding:10px 15px !important;
          }

          .info-box-headding{
            margin-left:30px !important;
            margin-right:30px !important;
            //padding-bottom:15px !important;
          }

          .edit-info-form{
            padding-bottom:50px;
          }

          .edit-info-item{
            padding:15px 25px;
            span.edit-label,.form-ctrl-wrap{
              display: inline-block;
              vertical-align: middle;
              font-size:14px;
              color:#555;
            }

            span.edit-label{
              width:120px;
              padding-left:15px;
            }

            span.edit-signature-label{
              vertical-align: top !important;
            }


            button.form-submit-btn{
              padding:10px 50px;
              font-size:14px;
              outline: none;
              border:0;
              background-color: #f16a64;
              color:#fff;
              margin-left:10px;
            }

            .form-submit-btn:hover{
              background-color: #f15f59;
            }

            .form-ctrl-wrap{
              width:742px;
              .edit-text{
                margin-left:10px;
              }

              .form-ctrl{
                line-height:30px;
                border:1px solid #ddd;
                padding:0 10px;
                outline: none;
                width:260px;
              }

              .form-ctrl:focus{
                border:1px solid #f16a64;
              }

              .text-required{
                display: inline-block;
                vertical-align: middle;
                color: #ff362d;
                margin-right:5px;
                font-weight:700;
              }

              .form-ctrl-select{
                height:30px;
                width:100px;
              }

              .form-ctrl-address{
                width:480px;
              }

              .form-ctrl-signature{
                width:480px;
              }
            }
          }
        }

        .info-content {
          float: right;
          width: 745px;
          background-color: #fff;
          .info-box{
            padding:10px 30px;
            .info-box-headding{
              padding:0;
              margin:0;
              border-bottom:1px solid #f2f2f2;
              h3{
                font-size:16px;
                margin:0;
                padding: 20px 0 15px;
              }

              //tab切换导航
              ul.nav{
                margin-top: 10px;
                border-bottom:0;
                li{
                  margin-bottom:0;
                  margin-left:5px;
                }

                li:first-child{
                  margin-left:0;
                }

                li:hover{
                  border-bottom:2px solid #f16a64;
                  margin-bottom:0;
                  transition-delay: .1s;
                }

                li>a{
                  //background-color: #00b3ee;
                  //border-bottom:1px solid #fff;
                  border:none;
                  outline: none;
                  margin:0;
                }

                li{
                  >a:hover{
                    margin:0;
                    background-color: #fff;
                    border:none;
                    color:#f16a64;
                    //border:none;
                    //border-bottom:1px solid #ddd;
                  }
                }

                li.active{
                  border-bottom:2px solid #f16a64;
                  >a{
                    margin:0;
                    background-color: #fff;
                    color:#f16a64;
                    border:none;
                    //border-bottom:1px solid #ddd;
                  }
                }
              }
            }

            .info-box-body{
              padding-top:15px;
              .info-list-item{
                padding:15px 0 10px;
                span.title,
                span.detail{
                  display: inline-block;
                  font-size:14px;
                  color:#888;
                }

                span.title{
                  width:8%;
                }
                span.detail{
                  width:80%;
                }
              }

            }
          }
        }
      }

      .profile-info-box:after {
        display: block;
        content: "";
        clear: both;
      }
    }
  }

  .app-profile-footer{
    //vertical-align: middle;
    height:100px;
    padding:10px 100px;
    .footer-desc-wrap{
      position: relative;
      width:100%;
      margin-top:50px;
      .footer-line{
        position: absolute;
        left:0;
        right:0;
        width:500px;
        bottom:3px;
        margin:auto;
        background-color: #999;
        height:1px;
      }

      .footer-desc{
        position: absolute;
        font-size:14px;
        background-color: #fff;
        padding:5px 30px;
        left:0;
        right:0;
        width:200px;
        bottom:-10px;
        margin:auto;
        //top:-20px;
      }
    }

  }

  .app-profile-footer:after{
    display: block;
    content: "";
    clear: both;
  }

}