.app-story{
  color:#555;
  margin-top:30px;
  padding: 0 15px;
  .app-story-banner{
    max-height:400px;
    overflow: hidden;
    img{
      width:100%;
      //max-height:400px;
    }
  }

  .timeline:before {
    top: 50px;
    bottom: 80px;
    width: 10px;
    margin-left: -10px;
  }

  .timeline > li > .timeline-panel{
    width:42%;
  }

  .timeline > li > .timeline-badge{
    width:108px;
    height:108px;
    line-height: 108px;
    left:47%;
    overflow: hidden;
    img{
      width:108px;
      height:108px;
    }
  }

  .timeline > li > .timeline-panel:before {
    top: 56px;
  }

  .timeline > li > .timeline-panel:after {
    top: 57px;
  }
}