html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

ul{
  margin:0;
  padding:0;
  li{
    list-style: none;
  }
}

.margin-top15{
  margin-top: 15px !important;
}

.margin-left15{
  margin-left: 15px !important;
}

.margin-right15{
  margin-right: 15px !important;
}

.margin-bottom15{
  margin-bottom: 15px !important;
}

.app-box{
  display: block;
  width:100%;
}

.clear-both{
  display: block;
  content: "";
  clear: both;
}

.app-container{
  width:1200px;
  margin:0 auto;
}

.app-content{
  height:100%;
  border:1px solid #f2f3f4;
  //padding-bottom: 180px;
}

.app-copyright{

}
