.app-header-nav
  h1.logo
    a(href='/') 网站logo
  .app-nav
    ul
      li
        a(href="/") 首页
      li
        a(href="/blog/index") 资讯论坛
      li
        a(href="/wall/index") 照片墙
      li
        a(href="/wall/book") 翻书
      li
        a(href="/wall/story") 时间轴
      li
        a(href="/login.html") 登录
      li
        a(href="/personal/profile.html") 个人中心